.grid-container {
    background-color: #282c34;
    padding: 1em;
    height: 100%;
    width: 100%;
    overflow: auto;

}

.grid {
    height: 100%;
    width: 100%;
    color: white;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    td {
        background-color: #fff;
        border-color: grey;

        &.wall {
            background-color: black;
        }
        
        &.wall {
            background-color: black;
        }
    }
}