.content {
    z-index: 1;
    background-color: #282c34;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.app-logo {
    height: 40vmin;
    pointer-events: none;
    animation: app-logo-spin infinite 20s linear;
}


a {
    color: #61dafb;
}

@keyframes app-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}